.nav {
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: hidden;
    z-index: 100;
    margin-left: -8px;
    margin-right: -8px;
    background-color: white;
    margin-top: -9px;
    font-family: "Audiowide", sans-serif;


}

#search {
    height: 20px;
    font-size: 15px;
    width: 200px;
    position: relative;
    right: -130px;

}

#searchbutton {
    height: 30px;
    width: 70px;
    position: relative;
    right: -60px;
    background-color: rgb(32, 75, 89);
    color: white
}

#name {
    font-size: 50px;
    color: #073B61;
    font-weight: 700;
    position: relative;
    left: 150px;

}

img {
    position: relative;
    left: -80px;
}

.options {
    height: 60px;
    border: 5px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    margin-left: -8px;
    margin-right: -8px;




}

per {
    font-size: 25px;
    font-weight: 500;
    text-shadow: 0px 0px 8px white, 0px 0px 12px white, 0px 0px 16px white;
    color: white;

}


#heading {
    height: 90px;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right, #2A7B9B 0%, #57C785 50%, #EDDD53 100%);
    margin-left: -8px;
    margin-right: -8px;
}

p {
    font-size: 40px;
    font-weight: 900;
    text-shadow: 0px 0px 8px white, 0px 0px 12px white, 0px 0px 16px white;
    color: white;
}

a {
    text-decoration: none;
}

body {
    background-size: cover;
    scroll-behavior: smooth;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    background-attachment: fixed;
    color: #fff;

  background: linear-gradient(135deg, #000428, #004e92);
  background-attachment: fixed;
  color: #fff;

  
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-attachment: fixed;
  color: #fff;


  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  background-attachment: fixed;
  color: #fff;
}









div {
    height: 350px;
    width: 230px;
    margin-left: 115px;
    display: inline-block;
    border: 10px solid black;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}

img {
    margin-left: 80px;
}

div:hover {
    transform: scale(1.09);
    box-shadow: 12px 12px 18px black;
}